[OPTIONS]

enable: {{ (pve_firewall_render_enable | default(pve_firewall_enable)) | bool | int }}
policy_in: {{ pve_firewall_policy_in }}
policy_out: {{ pve_firewall_policy_out }}

{% for ipset in pve_firewall_all_ipsets %}
[IPSET {{ ipset.name }}]{{ (' # ' ~ ipset.comment) if ipset.comment else '' }}

{% for cidr in ipset.cidrs | sort(case_sensitive=true) %}
{{ cidr }}
{% endfor %}

{% endfor %}
[RULES]

{% for rule in pve_firewall_rules %}
{{ rule }}
{% endfor %}
{% if pve_firewall_groups | length > 0 %}

{% endif %}
{% for group in pve_firewall_groups | sort(attribute='name', case_sensitive=true) %}
[group {{ group.name }}]{{ (' # ' ~ group.comment) if group.comment | default('') else '' }}

{% for rule in group.rules | default([]) %}
{{ rule }}
{% endfor %}

{% endfor %}
